/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray: #d3d3d3;
  --basic-pink: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --basic-wet-asphalt: #4d4d4d;
  --basic-smoky-white: #eeeeee;

  --hover-pink: #e74246;
  --hover-green: #00bc6c;
  --hover-yellow: #eab534;

  --active-pink: #d7373b;
  --active-green: #00aa62;
  --active-yellow: #e5a722;
  --active-white: #f6f6f6;

  --text-dark-grey-blue: #283136;
  --text-gray-brown: #444444;
  --text-dull-gray: #666666;

  --input-border: #d7dcde;
  --input-border-hover: #b4b9bb;
  --input-eror: #e74246;

  --button-filter-focus: #dfdfdf;
  --box-shadow: #e6e6e6;
  --button-filter-active: #d5d5d5;
  --active-black: #b3b3b3;

  --black-brown: #231f20;
  --pagonation-border: #dbdbdb;
}

/* Global */

.body {
  width: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main-footer {
  margin-top: auto;
}

.main-header-background {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding-bottom: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: ract(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Main header */

.main-header-background {
  background-color: var(--basic-smoky-white);
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
  gap: 45px;
  margin: 0;
}

.basket-link {
  width: 115px;
}

.navigation-item {
  margin-right: 45px;
}

/* User navigation */

.main-header-logo:hover {
  opacity: 70%;
}

.main-header-logo:active {
  opacity: 30%;
}

.site-navigation a,
.basket-link {
  color: var(--basic-black);
}

.site-navigation a:link,
.basket-link:link {
  color: var(--basic-black);
}

.site-navigation a:visited,
.basket-link:visited {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-link:hover {
  color: var(--basic-pink);
}

.site-navigation a:active,
.basket-link:active {
  color: var(--basic-gray);
}

.site-navigation a:not([href]),
.basket-link:not([href]) {
  border-bottom: solid 2px var(--basic-pink);
}

/* Company-slogans*/

.company-slogans {
  background-color: var(--basic-smoky-white);
}

.slider-nav {
  text-align: center;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-pink);
  border: none;
  border-radius: 3px;
  box-shadow: none;

  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: var(--hover-pink);
}

.button:active {
  background-color: var(--active-pink);
  color: var(--active-white);
}

.button:disabled {
  opacity: 0.3;
}

.basik-text {
  color: var(--text-dark-grey-blue);
}

/* Services */

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item__img_pinc {
  background-color: var(--basic-pink);
}

.services-item__img_green {
  background-color: var(--basic-green);
}

.services-item__img_yellow {
  background-color: var(--basic-yellow);
}

.button-smatphones {
  background-color: var(--basic-green);
}

.button-smatphones:hover,
.button-smatphones:focus {
  background-color: var(--hover-green);
}

.button-smatphones:active {
  background-color: var(--active-green);
}

.button-flipchart {
  background-color: var(--basic-yellow);
}

.button-flipchart:hover,
.button-flipchart:focus {
  background-color: var(--hover-yellow);
}

.button-flipchart:active {
  background-color: var(--active-yellow);
}

/* About-us */

.we {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.fulfill-header,
.in-numbers-header {
  font-weight: 700;
  text-transform: uppercase;
}

.fulfill-list {
  list-style: none;
}

.in-numbers-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.in-numbers-item sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.in-numbers-desc-item {
  margin: 0;
}

/*  Our-clients */

.clients-list {
  list-style: none;
}

.client-item a {
  opacity: 20%;
}

.client-item a:hover {
  opacity: 100%;
}

.client-item a:active {
  opacity: 10%;
}

/* Contacts */

.contacts-container {
  width: 1440px;
  padding: 0;
  margin: 0 auto 0 auto;
}

.map {
  margin: 0;
  padding: 0;
}

.marker {
  margin: 70px 362px 156px 847px;
  padding: 0;
}

.contacts-text {
  width: 319px;
  height: 308px;

  margin: 54px 981px 54px 140px;
  padding: 0;

  background-color: var(--basic-white);
}

.footer-contacts__name-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-dull-gray);
}

/* Social */

.social-list {
  list-style: none;
}

.sale-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-gray-brown);
}

/* Popup */

.feedback__header {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.feedback__form {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.feedback__input {
  outline: none;
  border-radius: 3px;
  border: 2px solid var(--input-border);
}

.feedback__input::placeholder {
  color: var(--text-gray-brown);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.feedback__input:hover {
  border-color: var(--input-border-hover);
}

.feedback__input:focus {
  border-color: var(--basic-black);
}

.feedback__input:focus::placeholder {
  color: var(--basic-black);
}

.feedback__input:invalid {
  border-color: var(--input-eror);
  color: var(--input-eror);
}

/* Catalog */

/* Header */

.catalog-header {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/*Main*/

/*Sort*/

.filter-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.fieldset {
  border: 0 none;
}

.filter-label {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-dark-grey-blue);
}

/* Filter price */

.filter-price-label {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-range {
  background-color: var(--basic-smoky-white);
  border-radius: 3px;
  border: none;
}

/* Button filter */

.button-filter-pagination {
  background-color: var(--basic-smoky-white);
  color: var(--basic-black);
}

.button-filter-pagination:hover {
  background-color: var(--button-filter-focus);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
  color: var(--basic-black);
}

.button-filter-pagination:focus {
  background-color: var(--button-filter-focus);
  color: var(--basic-black);
}

.button-filter-pagination:active {
  background-color: var(--button-filter-active);
  color: var(--active-black);
}

/* Sort */

.sort-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.type-sort-label {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.type-sort-input + span {
  opacity: 0.3;
}

.type-sort-input:checked + span {
  opacity: 1;
}

.direction-sort-label {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-brown);
}

.direction-sort-input + span {
  opacity: 0.3;
}

.direction-sort-input:checked + span {
  opacity: 1;
}

/* Catalog cart */

.catalog-list {
  list-style: none;
}

.catalog-item-header {
  opacity: 0.12;
}

.catalog-item-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.catalog-item:hover .catalog-item-header {
  opacity: 1;
}

.popup {
  visibility: hidden;
}

.catalog-item:hover .popup {
  visibility: visible;
}

.catalog-list:hover .popup {
  opacity: 1;
}

.catalog-item-circle {
  background-color: white;
}

.popup-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.popup-header:hover {
  color: var(--basic-pink);
}

.popup-header:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.popup-promo {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-dull-gray);
}

.button-popup:active {
  color: var(--basic-white);
}

/* Pagination */

.pagination {
  list-style: none;
}

.pagination-link p {
  color: var(--basic-black);
  background: var(--basic-smoky-white);
  border-radius: 3px;
  padding: 17px 20px 15px 20px;
  width: min-content;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.pagination-link:hover p {
  background: var(--button-filter-focus);
}

.pagination-link:active p {
  color: var(--active-black);
  background: var(--button-filter-active);
  box-shadow: inset 0px 3px 0px var(--box-shadow);
}

.pagination-link:not([href]) p {
  background-color: var(--basic-white);
  border: 3px solid var(--pagonation-border);
  border-radius: 3px;
}
